@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-inspiration: "Inspiration", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-pixelify-sans: "Pixelify Sans", sans-serif;
  --font-silkscreen: "Silkscreen", sans-serif;
}

body{
  background-color: #14532d;
}

/* button input name */
.btn {
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

